@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono&family=Space+Mono&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto Mono', monospace;
    background: #c31432;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #240b36, #c31432);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #240b36, #c31432);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

.typewriter{
  font-weight: bold;
  background: linear-gradient(to right,#3F51B5 ,#9C27B0,#E91E63);
  background-clip:text;
}